RAW_DATA_DIR=./data/raw
CLEANED_DATA_DIR=./data/cleaned

CHUNK_SIZE=100000

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
OPENAI_API_KEY=

NEO4J_HOST=
NEO4J_PORT=
NEO4J_BROWSER_PORT=
NEO4J_USER=
NEO4J_PASSWORD=